body {
  background: #1e5e98;
  background: linear-gradient(to right, #1e5e98, #0f0c29);
  font-family: "Roboto", sans-serif;
}
.button {
  outline-style: none;
  cursor: pointer;
}
.app-name {
  color: #ffffff;
  position: relative;
  text-align: center;
}
.display-msg {
  display: none;
}
.login-page {
  width: 20rem;
  padding: 4rem 0 0;
  margin: auto;
}
.form {
  position: relative;
  background: #ffffff;
  max-width: 20rem;
  margin: auto;
  padding: 2rem;
  text-align: center;
}
.form input {
  font-family: "Roboto", sans-serif;
  background: #f2f2f2;
  width: 100%;
  border: 0;
  margin: 0 0 2rem;
  padding: 1rem;
  box-sizing: border-box;
  font-size: 1rem;
}
.form button {
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  background: #1e5e98;
  width: 100%;
  border: 0;
  padding: 1rem;
  color: #ffffff;
  font-size: 1rem;
  cursor: pointer;
}
.form button:hover {
  background: #1e5e98;
}
.form .message {
  margin: 2rem 0 0;
  color: #b3b3b3;
  font-size: 0.9rem;
}
.form .message a {
  color: #1e5e98;
  text-decoration: none;
}
.form .register-form {
  display: none;
}
.create-acc-success{
  color: green;
}
.create-acc-failure{
  color: red;
}
.login-display-message {
  color: red;
}
.success{
  border: solid green;
}
.failure{
  border: solid red;
}
.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* max-height: max-content;
    max-width: max-content; */
  display: flex;
  overflow: auto;
  background: whitesmoke;
}
.side-bar {
  display: flex;
  flex-direction: column;
  background-color: #083158;
  width: fit-content;
  color: #ffffff;
}
.user-name {
  position: sticky;
  text-align: center;
  padding: 0.6rem;
  box-shadow: 0 0.3rem 0.6rem -0.3rem lightgrey;
  font-size: 1.25rem;
  font-weight: bold;
  color: antiquewhite;
}
.Channels-title {
  display: flex;
  flex-direction: column;
  padding: 0.6rem;
  box-shadow: 0 0.3rem 0.6rem -0.3rem lightgrey;
  color: antiquewhite;
}
.add-channels {
  display: flex;
  justify-content: space-between;
  align-self: stretch;
  padding: 1.25rem;
}
.add-channels h4 {
  text-align: center;
  padding: 0.3rem;
  font-size: 1.25rem;
  margin: 0 1.25rem 0 0;
}
.add-channels-button {
  border-radius: 50%;
  font-weight: bolder;
  outline-style: none;
}
.add-channels-input {
  display: none;
}
.add-channels-input input {
  width: 90%;
  height: 1.5em;
}
.add-channels-input button {
  width: 95%;
  margin: 0.6rem 0 1.25rem 0;
}
.channels {
  overflow-y: scroll;
  overflow-x: hidden;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: -moz-hidden-unscrollable;
}
.channels::-webkit-scrollbar {
  display: none;
}
.channels div {
  margin: 1.6rem;
  width: 90%;
  text-align: center;
  padding: 0.6rem;
  color: bisque;
  box-shadow: 0 0.3rem 0.6rem -0.3rem lightgrey;
}
.channels div:hover {
  background-color: #1e5e98;
  cursor: pointer;
}
.channels-active {
  background-color: #1e5e98;
}
.message-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #1c5992;
  background-image: url(http://besthdwallpaper.co/wp-content/uploads/2018/05/whatsapp-background-iphone-backgrounds-pinterest-whatsapp.jpg);
}

.message-headder {
  display: inline-block;
  justify-self: flex-start;
  align-content: center;
  background-color: #00112098;
}

.channel-name {
  padding: 0.3rem;
  font-size: 2.5rem;
  margin: 0 1.25rem 0 0;
  color: antiquewhite;
  font-weight: bold;
  font-family: sans-serif;
}

.message-window {
  overflow-y: scroll;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  flex-flow: row wrap;
  padding: 0px 1.25rem;
}
.message-window::-webkit-scrollbar {
  display: none;
}

.message-window div {
  width: 90%;
  margin: 1.25rem 3.75rem 1.25rem 0px;
  border-radius: 25px;
  /* overflow: hidden; */
  height: fit-content;
  height: max-content;
  padding: 0;
  background-color: rgb(231, 205, 170);
}
.message-window div > h4 {
  padding: 0.6rem 1.8rem;
  margin: 0;
}
.message-window div > p {
  padding: 0.6rem 1.8rem;
  margin: 0;
}
.message-tab {
  display: flex;
  margin-top: auto;
  margin-left: auto;
  width: 100%;
}
.user-message {
  width: 80%;
  margin: 1.25rem;
  height: 2.5rem;
  border-radius: 3.125rem;
  padding: 0 0.6rem;
  outline-style: none;
}
.send-message {
  width: 20%;
  border-radius: 3.125rem;
  margin: auto;
  height: 2.5rem;
  outline-style: none;
  background-color: #f2f2f2;
  cursor: pointer;
}
